{% extends 'layouts/' ~ data.layout ~ '.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 py-5">
        
            {% include "parts/alerts.html.twig" %}

            <form method="post">

                <div class="card w-100">
                    <div class="card-header">
                        <h1 class="fw-bold mb-0 font-monospace">Please sign in</h1>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="form-check form-switch">
                                <input class="form-check-input" name="_remember_me" type="checkbox" id="_remember_me">
                                <label class="form-check-label" for="_remember_me">Remember me</label>
                            </div>
                            <button class="btn btn-primary" type="submit">
                                Sign in
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
