{% extends 'layouts/' ~ data.layout ~ '.html.twig' %}

{% block title %}Autority | Back index{% endblock %}

{% block main %}
<div class="container">
    <p>Back index content</p>
</div>
{% endblock %}
