<div class="card p-3 my-3">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }} <i class="bi bi-save ms-1"></i></button>
    {{ form_end(form) }}
</div>
