{% extends 'layouts/' ~ data.layout ~ '.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block main %}
<div class="container">
    <a class="btn btn-secondary text-nowrap" href="{{ path('app_tag_index') }}"><i class="bi bi-arrow-return-left me-1"></i> back to list</a>
    {{ include('back/tag/_form.html.twig') }}
</div>
{% endblock %}
