{% extends 'layouts/' ~ data.layout ~ '.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block main %}
<div class="container">
    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_comment_index') }}">back to list</a>
</div>
{% endblock %}
