{% extends 'layouts/' ~ data.layout ~ '.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block main %}
<div class="container">
    {{ include('back/comment/_form.html.twig') }}

    <a class="text-decoration-none mx-1" href="{{ path('app_comment_index') }}"><i class="bi bi-arrow-return-left me-1"></i> back to list</a>
</div>
{% endblock %}
