<div class="border-top mt-3">
	<div class="container">
		<p class="mt-3 mb-5">
			Copyright (C) 2022 | Autority all right reserved | Boosted by
			<a href="https://siclem.fr/">Siclem</a>
		</p>
		{% if data.debug_mode == true %}
				{{ component('debuger', {data: data}) }}
		{% endif %}
	</div>
</div>
